@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

html,
body {
  color: rgb(var(--foreground-rgb));
  font-family: "Noto Sans Thai", sans-serif;
  font-weight: 400;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

image {
  min-height: 100%;
}
